@import url(STYLE_TOP_CABEÇALHO.css);

main {
    width: 100vw;
    margin: 0;
    padding: 20px;
}

.container {
    width: 100%;
    height: 100%;
}

.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.flex-column {
    flex-direction: column;
}

.flex-lado-a-lado {
    display: flex;
}

.cadastrar-ferramenta {
    width: 85%;
    height: 85%;
    background: var(--gradiente-azul-forte);
    border-radius: 20px;
    padding: 25px;
    margin: 55px 0px;
    ;
}

.form-cadastrar-ferramenta {
    height: 100%;
    width: 90%;
    background: var(--vermelho-escuro);
    border-radius: 20px;
    padding: 55px 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.campos {
    width: 100%;
    height: 100%;
    justify-content: space-evenly;
}

.img-logo-ferramenta {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    .img-cadastrar-ferramenta {
        width: 300px;
        height: 300px;
        background-color: gray;
        border-radius: 20px;
        margin-bottom: 10px;
    }

}

.btn-lado-a-lado {
    margin: 5px;
}

.container-left {
    margin-right: 15px;
}

.container-right {
    margin-left: 15px;

    input,
    select {
        padding: 10px;
        background-color: rgba(0, 0, 0, 0.3);
        border: 2px solid transparent;
        border-radius: 10px;
        margin-bottom: 20px;
        transition: .3s;

        option {
            background-color: brown;
        }
    }

    select:focus,
    select:active,
    select:checked {
        border-radius: 1px;

    }

    textarea {
        padding: 10px;
        background-color: rgba(0, 0, 0, 0.3);
        border: 2px solid transparent;
        border-radius: 10px;
        resize: none;
    }
}

.container-left-right {
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.btns-acoes {
    margin-top: 50px;

    .btn-vermelho {
        padding: 10px;
    }
}